html
    head
        title Image Conversion
        link(rel='stylesheet' href='/build/index.css')

    body
        div(class='heading')
            div(class='heading--title')
                | Image conversion service
            div(class='heading--info')
                a(href='https://github.com/ouchiko/image-convert') https://github.com/ouchiko/image-convert
        div(data-id='boom' class='container')
            p.
                Select your EPS, JPG, SVG, PDF file and export it to a hi-resolution PNG file.
            div.
                Please choose your file

            form(action='/convert' method='post' enctype='multipart/form-data')
                input(type='file' id='convertfile' name='convertfile' class='form--file')
                label(for='convertfile' class='form--label') Click to choose file
                input(type='submit' class='form--button')
